@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ew-btn {
    @apply ew-box-border;
    @apply ew-relative ew-inline-flex ew-items-center ew-justify-center ew-py-0;
    @apply ew-font-text ew-font-semibold ew-leading-none ew-tracking-wider ew-no-underline;
    @apply before:ew-block before:ew-content-[''] before:ew-absolute before:ew-inset-0 before:ew-pointer-events-none;
    @apply before:ew-z-0 before:ew-transition before:ew-bg-transparent;
    @apply hover:before:ew-bg-black/10;
  }
  .ew-btn-like {
    @apply ew-appearance-none ew-no-underline;
    @apply ew-box-border ew-rounded-lg ew-border-0;
  }
  .ew-check-radio {
    @apply ew-m-0;
    @apply ew-appearance-none ew-w-7 ew-h-7;
    @apply ew-border-2 ew-border-solid ew-border-base-aux/30;
    @apply ew-bg-base-bg ew-shadow-none;
    @apply ew-inline-flex ew-items-center ew-justify-center;
    @apply ew-outline-0 ew-ring-offset-0 ew-ring-primary-fg/50;
    @apply ew-transition;
    @apply before:ew-block before:ew-content-[""];
    @apply before:ew-w-4 before:ew-h-4 before:ew-bg-current;
    @apply before:ew-scale-0;
    @apply before:ew-transition before:ew-ease-out before:ew-duration-150;
    @apply hover:ew-opacity-90 active:ew-opacity-75;
    @apply checked:ew-bg-base-bg;
    @apply focus:ew-bg-base-bg focus-visible:ew-ring focus-visible:ew-border-primary-fg;
    @apply checked:before:ew-scale-100;
    @apply disabled:ew-bg-base-aux/[0.25];
  }
}

@layer utilities {
  .ew-focusable {
    @apply ew-transition;
    @apply ew-outline-0 ew-ring-offset-0 ew-ring-primary-fg/50;
    @apply focus-visible:ew-ring focus-visible:ew-border-primary-fg;
  }
  .ew-focusable-inset {
    @apply ew-transition;
    @apply ew-outline-0 ew-ring-inset ew-ring-primary-fg/50;
    @apply focus-visible:ew-ring focus-visible:ew-border-primary-fg;
  }
  .ew-focusable-outline {
    @apply ew-transition;
    @apply ew-outline-0 ew-ring-offset-0 ew-ring-primary-fg/50;
    @apply focus-visible:ew-ring;
  }
}

.ew-relative-background::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 
 * ======================================================
 * Flex
 * ======================================================
 */

.ew-justify-stretch > * {
  flex-grow: 1;
  flex-shrink: 0;
}

/* 
 * ======================================================
 * Input Reset and Icons
 * ======================================================
 */

/* Color */

input[type="color"].ew-input-color::-webkit-color-swatch-wrapper,
input[type="color"].ew-input-color::-webkit-color-swatch {
  display: none;
}

/* Select, Time, Date, Autocomplete */

.ew-input input::-ms-expand {
  display: none;
}
.ew-input input::-webkit-calendar-picker-indicator {
  background-image: none;
  opacity: 0;
}
.ew-input input::-webkit-time-picker-indicator {
  background-image: none;
  opacity: 0;
}

.ew-input input + .ew-input-icon::before,
.ew-input select + .ew-input-icon::before {
  background: rgb(var(--theme-base-aux-ch) / 0.07);
}
.ew-input input:focus + .ew-input-icon::before,
.ew-input select:focus + .ew-input-icon::before {
  background: var(--theme-base-bg);
}
.ew-input input:disabled + .ew-input-icon::before,
.ew-input select:disabled + .ew-input-icon::before {
  background: rgb(var(--theme-base-aux-ch) / 0.3);
}
.ew-input input[aria-readonly]:disabled + .ew-input-icon::before,
.ew-input select[aria-readonly]:disabled + .ew-input-icon::before {
  background: rgb(var(--theme-base-aux-ch) / 0.07);
}
.ew-input input[aria-readonly]:read-only:focus + .ew-input-icon::before,
.ew-input select[aria-readonly]:read-only:focus + .ew-input-icon::before {
  background: rgb(var(--theme-base-aux-ch) / 0.1);
}

/* 
 * ======================================================
 * Slider
 * Styles are duplicated since selectors won't work if
 * used together (who knows why)
 * ======================================================
 */

.ew-slider::-webkit-slider-thumb {
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: currentColor;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.ew-slider::-moz-range-thumb  {
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: currentColor;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* 
 * ======================================================
 * Tooltip
 * ======================================================
 */

.ew-tooltip::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -2px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: var(--theme-neutral-bg) transparent transparent transparent;
}

/* 
 * ======================================================
 * Table
 * ======================================================
 */

.ew-table,
.ew-table thead,
.ew-table tbody,
.ew-table tr,
.ew-table th,
.ew-table td {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

.ew-table tr {
  border-bottom: 1px solid rgb(var(--theme-base-aux-ch) / 0.2);
}

.ew-table tbody tr:last-child {
  border-bottom: 0;
}

.ew-table th,
.ew-table td {
  padding: 12px 6px;
}

.ew-table th:first-child,
.ew-table td:first-child {
  padding-left: 12px;
}

.ew-table th:last-child,
.ew-table td:last-child {
  padding-right: 12px;
}

/* 
 * ======================================================
 * Animations
 * ======================================================
 */

@keyframes ew-animation-fade-slide {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* 
 * ======================================================
 * Loading
 * ======================================================
 */

.ew-loading-dots {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.ew-loading-dots div {
    position: absolute;
    top: calc(var(--size) * 0.4);
    width: calc(var(--size) * 0.2);
    height: calc(var(--size) * 0.2);
    border-radius: calc(var(--size) * 0.2);
    background: var(--color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ew-loading-dots > div:nth-child(1) {
    left: 0;
    animation: ew-loading-dots-1 0.6s infinite;
}
.ew-loading-dots > div:nth-child(2) {
    left: 0;
    animation: ew-loading-dots-2 0.6s infinite;
}
.ew-loading-dots > div:nth-child(3) {
    left: calc(var(--size) * 0.4);
    animation: ew-loading-dots-2 0.6s infinite;
}
.ew-loading-dots > div:nth-child(4) {
    left: calc(var(--size) * 0.8);
    animation: ew-loading-dots-3 0.6s infinite;
}


@keyframes ew-loading-dots-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ew-loading-dots-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--size) * 0.4), 0);
  }
}
@keyframes ew-loading-dots-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.ew-loading-ripples {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.ew-loading-ripples > div {
    position: absolute;
    border: calc(var(--size) * 0.06) solid var(--color);
    opacity: 1;
    border-radius: 50%;
    animation: ew-loading-ripples 1.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ew-loading-ripples > div:nth-child(2) {
    animation-delay: -0.6s;
}

@keyframes ew-loading-ripples {
  0% {
    top: calc(var(--size) * 0.5);
    left: calc(var(--size) * 0.5);
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    opacity: 0;
  }
}

