@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ew-btn {
    @apply ew-box-border;
    @apply ew-relative ew-inline-flex ew-items-center ew-justify-center ew-py-0;
    @apply ew-font-text ew-font-semibold ew-leading-none ew-tracking-wider ew-no-underline;
    @apply before:ew-block before:ew-content-[''] before:ew-absolute before:ew-inset-0 before:ew-pointer-events-none;
    @apply before:ew-z-0 before:ew-transition before:ew-bg-transparent;
    @apply hover:before:ew-bg-black/10;
  }
  .ew-btn-like {
    @apply ew-appearance-none ew-no-underline;
    @apply ew-box-border ew-rounded-lg ew-border-0;
  }
  input[type="radio"].ew-radio {
    @apply ew-m-0;
    @apply ew-appearance-none ew-w-7 ew-h-7;
    @apply ew-border-2 ew-border-solid ew-border-base-aux/30;
    @apply ew-bg-base-bg ew-shadow-none;
    @apply ew-inline-flex ew-items-center ew-justify-center;
    @apply ew-outline-none ew-ring-offset-0 ew-ring-primary-fg/50;
    @apply ew-transition;
    @apply before:ew-block before:ew-content-[""];
    @apply before:ew-w-4 before:ew-h-4 before:ew-bg-current;
    @apply before:ew-scale-0;
    @apply before:ew-transition before:ew-ease-out before:ew-duration-150;
    @apply hover:ew-opacity-90 active:ew-opacity-75;
    @apply checked:ew-bg-base-bg;
    @apply focus:ew-bg-base-bg focus:ew-ring focus:ew-border-primary-fg;
    @apply checked:before:ew-scale-100;
    @apply disabled:ew-bg-base-aux/[0.25];
  }
  input[type="radio"].ew-radio.ew-small {
    @apply ew-appearance-none ew-w-5 ew-h-5;
    @apply before:ew-w-2.5 before:ew-h-2.5;
  }
  input[type="checkbox"].ew-checkbox {
    @apply ew-m-0;
    @apply ew-appearance-none ew-w-7 ew-h-7;
    @apply ew-border-2 ew-border-solid ew-border-base-aux/30;
    @apply ew-bg-none ew-bg-base-bg ew-shadow-none;
    @apply ew-inline-flex ew-items-center ew-justify-center;
    @apply ew-outline-none ew-ring-offset-0 ew-ring-primary-fg/50;

    @apply before:ew-hidden;
    @apply before:ew-content-[""];
    @apply before:ew-w-7 before:ew-h-7;

    @apply hover:ew-opacity-90 active:ew-opacity-75;

    @apply checked:ew-bg-current checked:ew-border-0;
    @apply checked:before:ew-block;

    @apply disabled:ew-bg-base-aux/[0.25];

    @apply focus:ew-bg-base-bg focus:ew-ring focus:ew-border-primary-fg;
  }
  input[type="checkbox"].ew-checkbox.ew-small {
    @apply ew-appearance-none ew-w-5 ew-h-5;
    @apply before:ew-w-5 before:ew-h-5;
  }
  input[type="checkbox"].ew-checkbox.ew-colorful {
    @apply ew-border-current;
  }
  input[type="checkbox"].ew-toggle {
    @apply ew-m-0;
    @apply ew-bg-none ew-rounded ew-appearance-none ew-h-auto ew-w-11 ew-p-0.5 ew-rounded-full ew-box-content;
    @apply ew-border-2 ew-border-solid;
    @apply ew-shadow-none;
    @apply ew-inline-flex ew-items-center ew-justify-start;
    @apply ew-outline-none ew-ring-offset-0 ew-ring-primary-fg/50;
    @apply ew-transition;

    @apply before:ew-block before:ew-content-[""];
    @apply before:ew-w-5 before:ew-h-5  before:ew-rounded-full before:ew-shadow;
    @apply before:ew-bg-base-bg before:ew-border-solid before:ew-border before:ew-border-base-aux/30;
    @apply before:ew-transition before:ew-ease-out before:ew-duration-150;

    @apply hover:ew-opacity-90 active:ew-opacity-75;

    @apply ew-bg-base-aux/20 ew-border-base-aux/30;
    @apply checked:ew-bg-current checked:ew-border-base-bg/30;

    @apply before:ew-translate-x-0;
    @apply checked:before:ew-translate-x-full;

    @apply focus-visible:ew-ring focus-visible:ew-border-primary-fg;
    @apply disabled:ew-bg-base-aux/[0.25];
  }
  input[type="checkbox"].ew-toggle.ew-small {
    @apply ew-w-9;
    @apply before:ew-w-4 before:ew-h-4;
  }
}

@layer utilities {
  .ew-focusable-reset {
    @apply ew-outline-none ew-ring-offset-0 ew-ring-primary-fg/50;
  }
  .ew-focusable {
    @apply ew-transition;
    @apply ew-outline-none ew-ring-offset-0 ew-ring-primary-fg/50;
    @apply focus-visible:ew-ring focus-visible:ew-border-primary-fg;
  }
  .ew-focusable-inset {
    @apply ew-transition;
    @apply ew-outline-none ew-ring-inset ew-ring-primary-fg/50;
    @apply focus-visible:ew-ring focus-visible:ew-border-primary-fg;
  }
  .ew-focusable-outline {
    @apply ew-transition;
    @apply ew-outline-none ew-ring-offset-0 ew-ring-primary-fg/50;
    @apply focus-visible:ew-ring;
  }
}

.ew-relative-background::before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 
 * ======================================================
 * Flex
 * ======================================================
 */

.ew-justify-stretch > * {
  flex-grow: 1;
  flex-shrink: 0;
}

/* 
 * ======================================================
 * Input Reset and Icons
 * ======================================================
 */

/* Color */

input[type="color"].ew-input-color::-webkit-color-swatch-wrapper,
input[type="color"].ew-input-color::-webkit-color-swatch {
  display: none;
}

/*
 * TODO: Fix custom icons.
 * I haven't yet found a way to properly deal with custom icons + padding behaviors on all browsers.
 * Until then, I'm disabling custom icons on elements that have browser native icons on ANY browser.
 */

.ew-input-icon {
  display: none;
}

/* Select, Time, Date, Autocomplete */

/*

.ew-input input::-ms-expand {
  display: none;
}
.ew-input input::-webkit-calendar-picker-indicator {
  color: transparent;
  background-image: none;
  opacity: 0;
}
.ew-input input::-webkit-time-picker-indicator {
  color: transparent;
  background-image: none;
  opacity: 0;
}

*/

.ew-input input:focus-visible,
.ew-input select:focus-visible,
textarea.ew-input:focus-visible {
  outline: none;
}

.ew-input input:focus-visible,
.ew-input select:focus-visible {
  border: 0;
  box-shadow: none;
}

textarea.ew-input:focus {
  --tw-ring-color: rgb(var(--theme-primary-fg-ch) / 0.5);
}

.ew-input select option {
  color: var(--theme-base-fg);
  background-color: var(--theme-base-bg);
}

.ew-input input + .ew-input-icon::before,
.ew-input select + .ew-input-icon::before {
  background: rgb(var(--theme-base-aux-ch) / 0.07);
}
.ew-input input:focus + .ew-input-icon::before,
.ew-input select:focus + .ew-input-icon::before {
  background: var(--theme-base-bg);
}
.ew-input input:disabled + .ew-input-icon::before,
.ew-input select:disabled + .ew-input-icon::before {
  background: rgb(var(--theme-base-aux-ch) / 0.3);
}
.ew-input input[aria-readonly]:disabled + .ew-input-icon::before,
.ew-input select[aria-readonly]:disabled + .ew-input-icon::before {
  background: rgb(var(--theme-base-aux-ch) / 0.07);
}
.ew-input input[aria-readonly]:read-only:focus + .ew-input-icon::before,
.ew-input select[aria-readonly]:read-only:focus + .ew-input-icon::before {
  background: rgb(var(--theme-base-aux-ch) / 0.1);
}

/* Search */

/*

input[type="search"].ew-input,
input[type="search"].ew-input::-webkit-search-decoration,
input[type="search"].ew-input::-webkit-search-cancel-button,
input[type="search"].ew-input::-webkit-search-results-button,
input[type="search"].ew-input::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

*/

/* 
 * ======================================================
 * Autocomplete
 * ======================================================
 */

.ew-input-autocomplete--options {
  display: none;
}
.ew-input-autocomplete:focus-within + .ew-input-autocomplete--options {
  display: block;
}
.ew-input-autocomplete--options:active { 
  display: block;
}

/* 
 * ======================================================
 * Slider
 * We need to reset global styles here to deal with
 * libraries that change global styles (looking at you elm-ui)
 * ======================================================
 */

input[type="range"].ew-slider {
  -webkit-appearance: none;
  position: relative;
  z-index: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  height: initial;
  opacity: initial;
  outline: initial;
  background: transparent;
}
input[type="range"].ew-slider:disabled {
  pointer-events: none;
}

input[type="range"].ew-slider::-webkit-slider-runnable-track {
  background: initial;
  cursor: initial;
}
input[type="range"].ew-slider::-moz-range-track {
  background: initial;
  cursor: initial;
}
input[type="range"].ew-slider::-ms-track {
  background: initial;
  cursor: initial;
}
input[type="range"].ew-slider::-webkit-slider-thumb {
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: currentColor;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: 0.12s ease-in;
}
input[type="range"].ew-slider:hover::-webkit-slider-thumb  {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 4px currentColor;
}
input[type="range"].ew-slider:active::-webkit-slider-thumb  {
  transition: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 2px currentColor;
}
input[type="range"].ew-slider:focus-visible::-webkit-slider-thumb  {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 4px currentColor;
}

input[type="range"].ew-slider::-moz-range-thumb  {
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: currentColor;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: 0.12s ease-in;
}
input[type="range"].ew-slider:hover::-moz-range-thumb  {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 4px currentColor;
}
input[type="range"].ew-slider:active::-moz-range-thumb  {
  transition: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 2px currentColor;
}
input[type="range"].ew-slider:focus-visible::-moz-range-thumb  {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 4px currentColor;
}

/* 
 * ======================================================
 * Popover
 * ======================================================
 */

.ew-popover-content {
  display: none;
}

.ew-popover-trigger:focus-within + .ew-popover-content {
  display: block;
  animation: ew-animation-fade 0.2s forwards;
}

.ew-popover.ew-is-open > .ew-popover-content {
  display: block;
  animation: ew-animation-fade 0.2s forwards;
}
.ew-popover.ew-is-closed .ew-popover-trigger:focus-within + .ew-popover-content {
  display: none;
}

.ew-popover.ew-persistent:focus-within > .ew-popover-content {
  display: block;
}

.ew-popover.ew-show-on-hover .ew-popover-trigger:hover + .ew-popover-content {
  display: block;
  animation: ew-animation-fade 0.2s forwards;
}
.ew-popover.ew-show-on-hover > .ew-popover-content:hover {
  display: block;
}

.ew-popover-content:active {
  display: block !important;
}

/* 
 * ======================================================
 * Modal
 * ======================================================
 */

/*
.ew-modal-toggle:checked + .ew-modal > .ew-modal-background {
    opacity: 1;
    pointer-events: auto;
}
.ew-modal-toggle:checked + .ew-modal > .ew-modal-content-wrapper {
    opacity: 1;
}
.ew-modal-toggle:checked + .ew-modal > .ew-modal-content-wrapper > .ew-modal-content {
    opacity: 1;
    pointer-events: auto;
    animation: 0.2s ease-out forwards ew-animation-fade-slide-scale;
}

.ew-modal.ew-modal--is-open > .ew-modal-background {
    visibility: visible;
    pointer-events: auto;
}

.ew-modal.ew-modal--is-open > .ew-modal-content-wrapper, {
    opacity: 1;
}
.ew-modal.ew-modal--is-open > .ew-modal-content-wrapper > .ew-modal-content {
    opacity: 1;
    pointer-events: auto;
}
*/

.ew-modal.ew-modal--is-open {
  display: block;
  opacity: 1;
}
.ew-modal-toggle:checked + .ew-modal {
  display: block;
  opacity: 1;
}

.ew-modal.ew-modal--is-open > .ew-modal-content {
  animation: 0.2s ease-out forwards ew-animation-fade-slide-scale;
}
.ew-modal-toggle:checked + .ew-modal > .ew-modal-content {
  animation: 0.2s ease-out forwards ew-animation-fade-slide-scale;
}

/* 
 * ======================================================
 * Checkbox
 * ======================================================
 */

input[type="checkbox"].ew-checkbox::before {
  background-image: linear-gradient(-45deg,transparent 65%,currentColor 65.99%), linear-gradient(45deg,transparent 75%,currentColor 75.99%), linear-gradient(-45deg,currentColor 40%,transparent 40.99%), linear-gradient(45deg,currentColor 30%,var(--fg-color) 30.99%,var(--fg-color) 40%,transparent 40.99%), linear-gradient(-45deg,var(--fg-color) 50%,currentColor 50.99%);
}
input[type="checkbox"].ew-checkbox:disabled::before {
  opacity: 0.4;
}

/* 
 * ======================================================
 * Tooltip
 * ======================================================
 */

.ew-tooltip::after {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
}

.ew-tooltip.ew-tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -2px;
  border-width: 4px 4px 0 4px;
  border-color: var(--theme-neutral-bg) transparent transparent transparent;
}

.ew-tooltip.ew-tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -2px;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent var(--theme-neutral-bg) transparent;
}

.ew-tooltip.ew-tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -2px;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent var(--theme-neutral-bg);
}

.ew-tooltip.ew-tooltip-right::after {
  top: 50%;
  right: 100%;
  margin-top: -2px;
  border-width: 4px 4px 4px 0;
  border-color: transparent var(--theme-neutral-bg) transparent transparent;
}

/* 
 * ======================================================
 * Table
 * ======================================================
 */

.ew-table,
.ew-table thead,
.ew-table tbody,
.ew-table tr,
.ew-table th,
.ew-table td {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

.ew-table tr {
  border-bottom: 1px solid rgb(var(--theme-base-aux-ch) / 0.2);
}

.ew-table thead tr {
  border-bottom: none;
}

.ew-table tbody tr:last-child {
  border-bottom: 0;
}

.ew-table td {
  padding: 12px 8px;
}

.ew-table-group-header td {
  padding: 16px 8px;
}

/* 
 * ======================================================
 * Animations
 * ======================================================
 */

@keyframes ew-animation-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ew-animation-fade-slide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ew-animation-fade-slide-scale {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* 
 * ======================================================
 * Loading
 * ======================================================
 */

.ew-loading-dots {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.ew-loading-dots div {
    position: absolute;
    top: calc(var(--size) * 0.4);
    width: calc(var(--size) * 0.2);
    height: calc(var(--size) * 0.2);
    border-radius: calc(var(--size) * 0.2);
    background: var(--color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ew-loading-dots > div:nth-child(1) {
    left: 0;
    animation: ew-loading-dots-1 0.6s infinite;
}
.ew-loading-dots > div:nth-child(2) {
    left: 0;
    animation: ew-loading-dots-2 0.6s infinite;
}
.ew-loading-dots > div:nth-child(3) {
    left: calc(var(--size) * 0.4);
    animation: ew-loading-dots-2 0.6s infinite;
}
.ew-loading-dots > div:nth-child(4) {
    left: calc(var(--size) * 0.8);
    animation: ew-loading-dots-3 0.6s infinite;
}


@keyframes ew-loading-dots-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ew-loading-dots-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--size) * 0.4), 0);
  }
}
@keyframes ew-loading-dots-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.ew-loading-ripples {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.ew-loading-ripples > div {
    position: absolute;
    border: calc(var(--size) * 0.06) solid var(--color);
    opacity: 1;
    border-radius: 50%;
    animation: ew-loading-ripples 1.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ew-loading-ripples > div:nth-child(2) {
    animation-delay: -0.6s;
}

@keyframes ew-loading-ripples {
  0% {
    top: calc(var(--size) * 0.5);
    left: calc(var(--size) * 0.5);
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    opacity: 0;
  }
}

